@model RecipeViewModel

<br />
<h2 class="text-primary">Добавление рецепта</h2>
<br />


<form form method="post" enctype="multipart/form-data">
    <div class="border row">
        <div class="col-md-8 mt-3">

            <div class="form-group row mb-3">
                <div class="col-md-4">
                    <label class="text-primary font-weight-bold">Название</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-md-4">
                    <label class="text-primary font-weight-bold">Категория</label>
                </div>
                <div class="col-md-8">
                    @await Component.InvokeAsync("SelectCategory", new { SelectCategory = Model.Category} )
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-md-4">
                    <label class="text-primary font-weight-bold">Описание</label>
                </div>
                <div class="col-md-8">
                    <textarea id="Description" class="form-control" name="Description">@Model.Description</textarea>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-md-4">
                    <label class="text-primary font-weight-bold">Время готовки</label>
                </div>
                <div class="col-md-8">
                    <input type="time" class="form-control" id="CookingTime" name="CookingTime" value="@Model.CookingTime">
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-md-4">
                    <label class="text-primary font-weight-bold">Изображение</label>
                </div>
                <div class="col-md-8">
                    <input type="file" class="form-control" id="ImageData" accept=".jpg, .jpeg, .png" name="ImageData"/>
                </div>
            </div>


            <div class="form-group row mb-3">
                <div class="col-md-4">
                    <label class="text-primary font-weight-bold">Температура готовки</label>
                </div>
                <div class="col-md-8">
                    <input type="number" class="form-control" id="CookingTemperature" name="CookingTemperature" value="@Model.CookingTemperature">
                </div>
            </div>


            <div class="form-group row mb-3">
                <div class="col-md-4">
                    <label class="text-primary font-weight-bold">Последовательность действий</label>
                </div>
                <div class="col-md-8">
                    <textarea id="SequenceActions" class="form-control" name="SequenceActions">@Model.SequenceActions</textarea>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-md-4">
                    <label class="text-primary font-weight-bold">Ингредиенты</label>
                </div>
                <div class="col-md-8">
                    @await Component.InvokeAsync("SelectIngredient", new { SelectIngredients = Model.Ingredients })
                </div>
            </div>

            <input type="hidden" name="id" value="@Model.Id"/>

            <div class="form-group row mb-3">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <a asp-action="GetAllRecipes" class="btn btn-success form-control">Back To List</a>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary form-control">Обновить</button>
                </div>
            </div>
        </div>

        <div class="col-3 offset-1 d-none d-md-block">
            <img id="blah" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageData)" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" onload="console.log(this.toDataURL('image /jpeg'))" />
        </div>

    </div>
</form>


<script>
//Preview & Update an image before it is uploaded
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ImageData").change(function () {
        readURL(this);
    });
</script>